@import '../../styles/mixins';

.home-editor {
  .controls {
    align-items: center;
    padding: 10px;
    min-height: 50px;
    background-color: #000;
    border-bottom: 1px solid #333;

    h1 {
      color: #fff;
    }

    button {
      margin-left: 10px;
    }
  }

  .editor {
    .errorWidget {
      transform: translateY(-50%) scaleX(-1);
    }

    &.shake {
      animation: shake 200ms cubic-bezier(.36,.07,.19,.97) both;
    }
  }

  .home-beats-panel {
    position: absolute;
    top: 70px;
    right: -400px;

    transition: right 500ms;

    &.visible {
      right: 20px;
    }
  }

  .icon {
    position: absolute;
    right: -500px;
    bottom: 0px;
    transition: transform 0.7s;

    background-size: cover;
    background-repeat: no-repeat;
  }

  .iconVisible {
    transform: translateX(-500px);
  }

  .fightingIcon {
    width: 500px;
    height: 500px;

    animation: fightingGif 400ms infinite;
  }

  @keyframes fightingGif {
    0% { background-image: url(/images/comeon1.png); }
    33% { background-image: url(/images/comeon2.png); }
    66% { background-image: url(/images/comeon3.png); }
    100% { background-image: url(/images/comeon2.png); }
  }

  .successIcon {
    width: 385px;
    height: 385px;

    animation: successGif 400ms infinite;
  }

  @keyframes successGif {
    0% {background-image: url(/images/success1.png);}
    33% {background-image: url(/images/success2.png);}
    66% {background-image: url(/images/success3.png);}
    100% {background-image: url(/images/success2.png);}
  }

  .errorIcon {
    width: 444px;
    height: 444px;

    animation: errorGif 1200ms infinite;
  }

  @keyframes errorGif {
    0% {background-image: url(/images/error1.png);}
    10% {background-image: url(/images/error2.png);}
    19% {background-image: url(/images/error3.png);}
    28% {background-image: url(/images/error4.png);}
    37% {background-image: url(/images/error5.png);}
    46% {background-image: url(/images/error6.png);}
    55% {background-image: url(/images/error7.png);}
    64% {background-image: url(/images/error8.png);}
    73% {background-image: url(/images/error9.png);}
    82% {background-image: url(/images/error10.png);}
    91% {background-image: url(/images/error11.png);}
    100% {background-image: url(/images/error12.png);}
  }

  .goodDayIcon {
    width: 444px;
    height: 444px;

    animation: goodDayGif 1400ms infinite;
  }

  @keyframes goodDayGif {
    0% {background-image: url(/images/goodday1.png);}
    8% {background-image: url(/images/goodday2.png);}
    16% {background-image: url(/images/goodday3.png);}
    24% {background-image: url(/images/goodday4.png);}
    32% {background-image: url(/images/goodday5.png);}
    40% {background-image: url(/images/goodday6.png);}
    48% {background-image: url(/images/goodday7.png);}
    56% {background-image: url(/images/goodday8.png);}
    64% {background-image: url(/images/goodday7.png);}
    72% {background-image: url(/images/goodday8.png);}
    80% {background-image: url(/images/goodday7.png);}
    88% {background-image: url(/images/goodday8.png);}
    96% {background-image: url(/images/goodday7.png);}
    100% {background-image: url(/images/goodday8.png);}
  }

  .textBox {
    position: absolute;
    right: -700px;
    bottom: 44px;
    padding: 29px 170px 29px 41px;
    transition: transform 0.5s;
  }

  .textVisible {
    transform: translateX(-888px);
  }

  .textBoxBad {
    box-shadow: 0 2px 20px 0 rgba(255,0,223,0.50);
    border-radius: 4px;
  }

  .textBoxGood {
    box-shadow: 0 2px 20px 0 rgba(255,40,0,0.50);
    border-radius: 4px;
  }

  .textTitleGood {
    font-family: Helvetica-Bold;
    font-size: 16px;
    color: #FFC62A;
    letter-spacing: 0;
    line-height: 24px;
  }

  .textTitleBad {
    font-family: Helvetica-Bold;
    font-size: 16px;
    color: #FF4C7B;
    letter-spacing: 0;
    line-height: 24px;
  }

  .textContent {
    font-family: Helvetica;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 24px;
  }

  .btnYes {
    width: 105px;
    height: 28px;

    background-image: linear-gradient(18deg, #FFB100 0%, #FFD960 100%);
    border-radius: 2px;

    font-family: Helvetica-Bold;
    font-size: 14px;
    color: #2E3240;
    letter-spacing: 0;
    line-height: 24px;

    padding: 2px 15px 2px 15px;
  }
  .btnYes:hover {
    cursor: pointer;
  }

  .btnNo {
    border: 1px solid rgba(255,40,0,0.50);
    box-shadow: 0 2px 20px 0 rgba(255,40,0,0.50);
    border-radius: 2px;

    font-family: Helvetica;
    font-size: 14px;
    color: #FFD960;
    letter-spacing: 0;
    line-height: 24px;

    margin-left: 12px;
    padding: 2px 15px 2px 15px;
  }
  .btnNo:hover {
    cursor: pointer;
  }
}

.ant-form {
  .ant-form-item-label {
    width: 100px;
    margin-right: 10px;
  }

  .ant-form-item-control-wrapper {
    display: inline-block;
  }
}

@shakiness: 10;

@keyframes shake {
  10%, 90% {
    transform: translate3d((@shakiness * 1) * -1px, @shakiness * 1px, 0);
  }

  20%, 80% {
    transform: translate3d((@shakiness * 2) * 1px, @shakiness * 1px, 0);
  }

  30%, 50%, 70% {
    transform: translate3d((@shakiness * 4) * -1px, @shakiness * -1px, 0);
  }

  40%, 60% {
    transform: translate3d((@shakiness * 4) * 1px, @shakiness * -1px, 0);
  }
}
